---
layout: default
---
<article class="post">
  <a class="" href="{{ site.baseurl }}/">[Zurück]</a>
  <br><br>
  <span class="post-day">{{ page.day}}</span>
  <span class="post-month">{{ page.month}}</span>
  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-title">{{ page.subtitle }}</h3>
  <span class="post-speaker">{{ page.speaker}}</span>

  <div class="post-content">

    {{ content }}

    <div class="post-links">
      {% if page.linked %}
        <a class="link-to-post" href="{{ page.linked | relative_url}}">
          <span class="link-to-post__next">&#10535; &nbsp;Text zur Veranstaltung</span>
          <span class="link-to-post__title">Titel</span>
        </a>
      {% endif %}
    </div>

  </div>

</article>
