---
layout: default
---
<article class="post">
  <a class="" href="{{ site.baseurl }}/">[Zurück]</a>
  <br><br>
  <span class="post-day"></span>
  <span class="post-month">{{ page.day}}{{ page.month}}</span>
  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-title">{{ page.subtitle }}</h3>
  <h5>{{ page.eventtype }} {{ page.speaker }}</h5>
  <h5>{{ page.time }} {{ page.locationname }}</h5>

  <div class="post-content">

    {{ content }}

    <div class="post-links">
      {% if page.linked %}
        <a class="link-to-post" href="{{ page.linked | relative_url}}">
          <span class="link-to-post__next">&#10535; &nbsp;Text zur Veranstaltung</span>
          <span class="link-to-post__title">Titel</span>
        </a>
      {% endif %}
    </div>

    {{ page.time }} {{ page.locationname }}, {{ page.locationadress }}
    <br>
    <!-- <a class="" href="{{ page.facebookevent }}">[Veranstaltung bei Facebook]</a>-->
  </div>

</article>
